<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <title>QrCode Generator</title>
</head>

<body>

    <div class="container">
        <h1>Qr Code generator</h1>
        <hr>
        <form action="/scan" method="post" class="form">
            <textarea name="text" id="text" cols="50" rows="5" placeholder="Enter Your Text/link"></textarea>
            <br>
            <button type="submit" class="btn btn-primary ">Generate QR </button>
        </form>
    </div>



</body>

</html>